name: Automerge

on:
  pull_request:

  # Try enabling auto-merge when a pull request is approved. Note that this event skips the check
  # for the pull request author association and instead checks the review author association.
  pull_request_review:
    types:
      - submitted

  # Try enabling auto-merge for a pull request when a draft is marked as “ready for review”, when
  # a required label is applied or when a “do not merge” label is removed, or when a pull request
  # is updated in any way (opened, synchronized, reopened, edited).
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - edited
      - labeled
      - unlabeled
      - ready_for_review

  # Try enabling auto-merge for the specified pull request, review or all open pull requests if
  # none is specified.
  workflow_dispatch:
    inputs:
      pull-request:
        description: Pull Request Number
        required: false
      review:
        description: Review ID
        required: false

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run tests with Maven
        run: mvn -B test --file pom.xml
      - name: Auto-Merge Pull Request
        uses: reitermarkus/automerge@v2.6.0
        with:
          token: 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
          dry-run: false
